<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Create a new puppy</h1>
    <form method="POST" action="/">
      Name: <input type="text" name="name">
      Breed: <input type="text" name="breed">
      Age: <input type="text" name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>


<form action="demo_form.asp" method="get">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>
